/* AdminPanel.css */
.admin-panel {
  display: flex;
}

.custom-sidebar {
  width: 15%;
  /* Sidebar occupies 30% of the screen */
  background-color: rgba(var(--mdb-light-rgb), var(--mdb-bg-opacity)) !important;
  /* Example background color */
  /* Example text color */
}

.main-content {
  flex: 1;
  /* Main content occupies remaining space */
  display: flex;
  flex-direction: column;
}

.custom-navbar {}

.custom-content {
  flex: 1;
  /* Content occupies remaining space */
  padding: 20px;
}


.custom-sidebar-menus a h6 {
  color: black !important;
  padding: 1rem;
}

.custom-sidebar-menus a h6:hover {
  color: green !important;
  cursor: pointer;
  background-color: #80808052;
}